.nav-list {
  display: flex;
  gap: 1rem;
}

nav a.active {
  color: #bb000e;
}

.nav-list_item_link {
  font-family: "Roboto Mono", monospace;
  font-size: calc(1.1rem + 0.2vw);
  margin: 1rem 0;
  display: inline-block;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
}

.nav-list_item_link:active {
  color: #bb000e;
}

.nav-list_item_link:hover:not(.active) {
  color: #bb000e;
  transform: translateY(-0.5rem);
}

@media (min-width: 768px) {
  .nav-list {
    display: block;
  }

  .nav-list_item_link:hover:not(.active) {
    transform: translateX(1.5rem);
  }

  .nav-list_item_link:hover:not(.active)::before {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    background: url("../assets/less-than-icon.png") 0 0 no-repeat;
    left: -0.8rem;
    bottom: 0;
  }

  .nav-list_item_link:hover:not(.active)::after {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    background: url("../assets/greater-than-icon.png") 0 0 no-repeat;
    bottom: 0.1rem;
  }
}
