/*/////////CSS BOILERPLATE//////*/

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*/////////CSS BOILERPLATE//////*/
:root {
  --main-color: #bb000e;
  --main-secondary-color: #b34b52;
}

html {
  background-color: #161616;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Mono", monospace;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.layout {
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  min-height: calc(100vh - 98px);
}

.layout_row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 2rem;
}

.layout_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.layout_col-nav {
  padding: 2.2rem 0;
}

h2 {
  font-family: "Roboto Mono", monospace;
  color: white;
  margin-bottom: 1.7rem;
  font-weight: 700;
  font-size: 2.3rem;
}

p {
  color: white;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  max-width: 65%;
}

a {
  font-family: "Roboto Mono", monospace;
}

.experience {
  color: #bb000e;
}

.experience:hover {
  color: #b34b52;
  cursor: pointer;
}

#modal {
  height: 100%;
  position: fixed;
  z-index: 3000;
  overflow: hidden;
  right: 0;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1024px) {
  .layout {
    min-height: calc(100vh - 62px);
    padding-bottom: 2rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}
